.shopping-container {
	position: fixed;
	top: 50%;
	right: -150px;
	width: max(300px,calc(var(--indexboxes)*3.5));
	min-height: 100px;
	max-height: 320px;
	margin: auto;
	padding: var(--spacing-large);
	transform: translate(-50%, -50%);
	background-color: #ac8f8f;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);

	z-index: 0;
}
.korzinka{
	margin-top: 30px;
	overflow-y:scroll;
	max-height: 200px;
}
.korzinka::-webkit-scrollbar{
	background-color: azure;
	border-radius: var(--border-radius);
	width: 10px;
}
.korzinka::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: var(--border-radius);
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}
.shopping__close {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	background-image: url(../assets/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}
/* Screen settings for smaller devices */
@media screen and (max-width: 1025px){
	.shopping-container{
		left: 50%;
        width: 100vw;
		bottom: -50%;
		min-height: 300px;
		font-size: var(--smaller_font-size);
	}
	.shopping__close{
		width: 70px;
		height: 70px;
		right: 50px;
	}
}