.shopping-container {
	width: 80%;
	height: 80%;
	margin: auto;
	padding: var(--spacing-large);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	line-height: 30px;
	font-size: 20px;
	
}
.korzinka{
	margin-top: 30px;
	overflow-y:scroll;
	max-height: 600px;
}
.korzinka::-webkit-scrollbar{
	background-color: azure;
	border-radius: var(--border-radius);
	width: 10px;
}
.korzinka::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: var(--border-radius);
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}

/* Screen settings for smaller devices */
@media screen and (max-width: 1025px){
	.shopping-container{
		left: 50%;
        width: 90%;
		bottom: -50%;
		font-size: 30px;
		height: 80%;
		max-height: 900px;
	}
	.korzinka{
		max-height: 90%;
	}
}