.header-container{
    height: 90px;
    padding: var(--spacing-small);
    background-color:var(--color-medium);
    color: #dddfdd;
    font-family: "Sofia",sans-serif;
    font-style: italic;
    font-size: var(--spacing-large);
    text-align: center;


}
#sidebar{
    position: absolute;
    top: 10px;
    width: 200px;
    height: 350px;
    padding-right: 50px;
    background: #d8d6d6;
    border-radius: var(--border-radius);
    left: -210px;
    color: #000000;

    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}

#sidebar.active{
    left:0px;
}


#sidebar ul li:first-child{
    text-align: center;
    color: #000000;
    font-size: 1em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}
#sidebar ul li:not(:first-child){
    width: 90%;  
    margin-left: 10%;
    font-size: 0.5em;
    list-style: none;
    padding: 15px 10px;
}
#sidebar ul li a{
    color: #000000;
    text-decoration: none;
}
#sidebar ul li a:hover{
    color: #b4c58d;
    cursor: pointer;
}

#sidebar .toggle-btn{
    position: absolute;
    top: 10px;
    left: 220px;
    background: #E0E5EA;
    padding:10px ;
    border-radius: 12px;
    cursor: pointer;
}
#sidebar .toggle-btn:hover{background: #586269;}
#sidebar .toggle-btn:hover span{background: #ced6db;}
#sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}
.shopping_basket{
    left: 50%;
}


/* Screen settings for smaller devices */
@media screen and (max-width: 1020px){
    .header-container{
        height: 150px;
        min-width: 500px;
        font-size: 50px;
    }
    #sidebar .toggle-btn{
        width: 100px;
        height: 100px;
        left: 52vw;

    }
    #sidebar .toggle-btn span{
  
        width: 100%;
        height: 20%;
        border-radius: 15px;
        margin: 10px 0px;
    }
    #sidebar{
        position: absolute;
        top: -2px;
        width: 50vw;
        height: 100vh;
        padding-right: 50px;
        background: var(--color-white);
        border-radius: 0;
        left: -50vw;
        color: #000000;
        font-size: 100px;
    
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        transition: all 600ms;
    }
}
