.header-container{
    height: 90px;
    padding: var(--spacing-small);
    background-color:var(--color-medium);
    color: #dddfdd;
    font-family: "Sofia",sans-serif;
    font-style: italic;
    font-size: var(--spacing-large);
    text-align: center;


}
#leftbar{
    float: left;
    top: 10px;
    height: 100%;
    min-width: 80px;
    padding-right: 50px;
    background: #d8d6d6;
    border-radius: var(--border-radius);
    left: 0px;
    text-align: center;
    padding: var(--spacing-small);
    color: #000000;
    z-index: 1;
    background-image: url(../assets/Profile.png);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;

}
#rightbar{
    top: 10px;
    height: 100%;
    min-width: 80px;
    padding-right: 50px;
    background: #d8d6d6;
    border-radius: var(--border-radius);
    left: 0px;
    color: #000000;
    z-index: 1;
    float: right;
    background-image: url(../assets/BW_BASKET.png);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}


.shopping_basket{
    left: 50%;
}


/* Screen settings for smaller devices */
@media screen and (max-width: 1020px){
    .header-container{
        height: 150px;
        min-width: 500px;
        font-size: 50px;
    }
    #sidebar .toggle-btn{
        width: 100px;
        height: 100px;
        left: 52vw;

    }
    #sidebar .toggle-btn span{
  
        width: 100%;
        height: 20%;
        border-radius: 15px;
        margin: 10px 0px;
    }
    #sidebar{
        position: absolute;
        top: -2px;
        width: 50vw;
        height: 100vh;
        padding-right: 50px;
        background: var(--color-white);
        border-radius: 0;
        left: -50vw;
        color: #000000;
        font-size: 100px;
    
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        transition: all 600ms;
    }
}
